/**
 * ChangeServerScreen
 * 2022-02-07 15:39:52
 */

.container {
  width: 100%;
  height: 100%;
  padding: 32px 16px;
}

.inputContainer {
  margin-top: 16px;
}

.inputStyle {
  padding-left: 16px;
}

.btnContainer {
  position: absolute;
  width: 100%;
  bottom: 20%;
  padding: 0 16px;
}

.btn {

}
