/**
 * EditNetworkInformationScreen
 * 2022-03-06 17:53:32
 */

@import "src/styles/colors";

.container {
  width: 100%;
  padding: 0 16px 16px 16px;
  height: 100%;
}

.contentContainerStyle {
  padding-bottom: 100%;
}
