/**
 * ControllerButton
 * 2022-02-13 16:02:57
 */

.controllerBtn {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  elevation: 4;
}
