@import "../../node_modules/react-native-atomic-styles/src/partials/colors";

$colors: ( //
    primary: #0d6efd,
    secondary: #6c757d,
    success: #198754,
    warning: #ffc107,
    danger: #dc3545,
    info: #0dcaf0,
    light: #f8f9fa,
    dark: #212529,
);