@import "../../node_modules/react-native-atomic-styles/src/partials/font-families";

$font-families: ( //
    light: Quicksand-Light,
    regular: Quicksand-Regular,
    medium: Quicksand-Medium,
    semibold: Quicksand-SemiBold,
    bold: Quicksand-Bold,
);