@import "../../node_modules/react-native-atomic-styles/src/partials/variables";

$font-families: (//
        light: SVN-GilroyLight,
        regular: SVN-GilroyLight,
        medium: SVN-GilroyLight,
        semibold: SVN-GilroyBold,
        bold: SVN-GilroyBold,
);
