/**
 * Button
 * 2022-02-08 01:20:30
 */

.btnStyle {
  border-radius: 5px;
  padding: 12px 8px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.btnOutline {
  border: 1px;
}
