/**
 * PrintingScreen
 * 2022-02-22 21:02:12
 */
@import 'src/styles/font-families';

.container {
  width: 100%;
  height: 100%;
}

.headerTitle {
  padding: 16px;
}

.placeholder {
  width: 24px;
  height:  24px;
}

.fileContainer {
  border-radius: 5px;
  padding: 16px 16px;
  margin-bottom: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  elevation: 4;
}

.flatList {
  padding: 0 16px;
}


.smallProgress {
  width: 70px;
  height: 70px;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: white;
  bottom: 15%;
  right: 5%;
}

.availableText {
  font-size: 12px;
}

.textProgress {
  font-size: 13px;
}
