/**
 * LoadingComponent
 * 2022-03-12 08:49:48
 */

.modalContainer {
  //background-color: white;
  width: 300px;
  height: 300px;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
}
