/**
 * Styles for Component.tsx
 * @created 2021-08-03 15:15:27
 * @author tientv <tientv20@fpt.com.vn>
 */

.title {
  font-weight: 500;
  font-size: 13px;
  line-height: 35px;
  color: rgba(76, 76, 76, 0.6);
}

.value {
  font-size: 15px;
  line-height: 35px;
  text-align: right;
}

.titleBold {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}
