

.viewContainer {
  height: 88px;
}

.header {
  width: 100%;
  position: absolute;
  bottom: 0;
  flex-direction: row;
  align-content: center;
  justify-content: flex-end;
}

.titleContainer {
  align-content: center;
  justify-content: center;
  padding: 8px;
  flex: 1;
}

.title {
  font-size: 17px;
  text-align: center;
}

.flex1 {
  flex: 1;
}

.button {
  padding: 12px 8px;
  border-radius: 5px;
}
